form(ng-controller="AddUserCtrl", ng-submit="submit()" , method="post", accept-charset="utf-8")
    input(type="text", name="email", placeholder="Email")
    br
    input(type="password", name="password", placeholder="password")
    br
    input(type="submit", value="Create User")